
/* GLOBAL STYLE.
---------------------------------------------------------*/
* {
    margin: 0;
    box-sizing: border-box;
}
 
/* NAVIGATION BAR.
---------------------------------------------------------*/
nav {
    color: whitesmoke;
}


/* BACKGROUND.
---------------------------------------------------------*/
main {
background-image: url("../img/hp04.jpeg");
background-color: #cccccc;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: cover;
}


/* START CONTENT.
---------------------------------------------------------*/
label {
    display: block;
    margin: 5px 0px;
}



/* FOOTER.
---------------------------------------------------------*/
