
/* START GLOBAL STYLE.
________________________________________________________*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END GLOBAL STYLE.
________________________________________________________*/



/* START GLOBAL STYLE HEADER.
________________________________________________________*/

/* --------------------- */
/* NAVIGATION BAR.       */
/* --------------------- */

.nav-container {
    padding: 40px;
    min-height: 50px;
}
.nav-list {
    color: whitesmoke;
    position: relative;
    z-index: 100;
    float: left;
    list-style: none;
}
.nav-list-cart {
    float: right;
}

.nav-link {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-weight: 800;
}

.nav-item {
    float: left;
}

/* --------------------- */
/* BACKGROUND IMG.       */
/* --------------------- */

.bg-img {
    background-image: url("../img/bg.png");
    background-color: #cccccc;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 100px;
    z-index: -10;
}

/* END GLOBAL STYLE HEADER.
________________________________________________________*/



/* START GLOBAL STYLE BODY.
________________________________________________________*/
.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:80vh;
    top: 0;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.wrapper {
    align-items: center;
    background: #50ddca;
    padding: 40px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0px 4px 10px 4px rgba(19, 35, 47, 0.3);
}
label {
    display: block;
    margin: 5px 0px;
}
input {
    width: 100%;
    height: 20px;
}

/* END GLOBAL STYLE BODY.
________________________________________________________*/




/* START REGISTRATION FORM.
________________________________________________________*/

.container-products {
    overflow: auto;
    white-space: nowrap;
}

.wrapper-form1 {
    padding: 40px 40px;
    margin: 40px auto;
    max-width: 600px;
    display: inline block;
}
label {
    display: block;
    margin: 5px 0px;
}

.btn {
    border-radius: 8px;
    padding: 10px 50px;
    letter-spacing: 18px;
    text-transform: uppercase;
    background-color: #50ddca;
}

/* END BODY - REGISTRATION FORM.
________________________________________________________*/



/* START FILTER LINKS.
________________________________________________________*/

.filter-links {
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
    list-style: none;
    display: block;
    width: 100%;
    height:auto;
    overflow: hidden;
    border-bottom:1px solid #E4D7D7;
  }
  
  .filter-links li {
    display: inline-block;
  }
  
  .filter-links li a {
    color: black;
    padding-right: 2em;
    padding-inline-start: 2em;
    text-decoration: none;
  }

  /*-----------------------*/
    
.btn1 {
    display: inline-block;
    color: black;
    padding-right: 2em;
    padding-inline-start: 2em;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  .btn1:hover {
    color: #ddd;
  }
  .btn1.active {
    background-color: #666;
    color: white;
  }
  /*------------------------*/


/* END FILTER LINKS.
________________________________________________________*/



/* START PRODUCTS CARD.
________________________________________________________*/
.container-filterCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}
.wrapper-filterCard {
    display: none;
}
  /* JS added to the filtered elements */
.showCards {
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 33.33333%;
    background-color: aquamarine;
    margin: auto;
    text-decoration: none;
    color: #444;
    /* transition: all .1s ease-in; */
    transition: transform .3s; /* Animation */
}
.wrapper-filterCard:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    cursor: pointer;
}
.productCart { /* ALL */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productCart-body {
    flex: 1;
    line-height: 1.4;
}
p {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}
.productCart-imgLink {
    max-width: 300px;
    height: 400px;
    padding: 2px;
    background-size: cover;
    background-position: top center;
}
.productCart-footer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.productCart-footer-form-row{
    flex: 1;
    display: inline-block;
}

/* END PRODUCTS CARD.
________________________________________________________*/



/* START SHOPPINGCART.
________________________________________________________*/

/* FLEX INFO */
.container-shoppingCart{
    height: auto;
    padding: 1px;
}
.container-cart {
    background-color: red;
    display: flex;
    flex-direction: row;
    padding: 50px;
}
.wrapper-cart {
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.cart {
    display: flex;
    flex-direction: row;
    padding: 1px;
    border: #444 1px solid;
}

.cart-header-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.address-company {
    align-self: flex-end;
}

.cart-body-items img {
    width: auto;
    max-height: 50px;
    overflow: hidden;
}

/* 

.container-shoppingCart {
    flex-direction: column;
    width: 80%;
}

.wrapper-sections {
    width: 100%;
    padding: 10px;
    margin: 2px auto;
}

.wrapper-shoppingCart2 {
    flex-direction: row;
}
.section-cart {
    padding: 5px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
}
.inner-items {
    display: flex;
    flex-direction: row;
}
.inner-item-row {
    background-color: green;
    flex-direction: column;
    padding: 5px 5px;
}
 */
/* END SHOPPINGCART.
________________________________________________________*/

.container-logout {
    flex-direction: column;
}
